html,body {
 font-family:  ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, sans-serif;
  color:#E5E8E8;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  }

/*-----------------------------------
  Typography
-------------------------------------*/
h1,h2,h3,h4,h5,h6 {

  font-weight: normal;
  }
h1 {
    font-size: 22px;
    font-weight: regular;
    color:#DBDBDB;
}
h2 {
  font-size: 18px;
  font-weight: normal;
  padding-bottom: 2px;
  color:#999999;

  }
h3 {
  font-size: 16px;
  
  color: #999999;
  }
h4 {
  font-size: 18px;
  }
h5 {
  font-weight: bold;
  margin-bottom: 5px;
  line-height: 18px;
  }

input[type='text'],
textarea {
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  width: 90%;
  padding: 5px;
  height: 80px;
  height: auto!important;
  min-height: 80px;
  }
a.close {
  background: #4D3936 url(../images/sprite.png) -30px -165px;
  display: block;
  text-indent: -999em;
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;
  }

  ::-webkit-scrollbar {
    height: 8px;
    width: 10px;
     background: rgb(20,20,20);
    }
  ::-webkit-scrollbar:hover {
    background: rgb(20,20,20);
    }
  ::-webkit-scrollbar-thumb {
    background: #444;
    }
  ::-webkit-scrollbar-thumb:hover {
    background: #3c1108;
    }
  ::-webkit-scrollbar-thumb:vertical    { height: 25px; }
  ::-webkit-scrollbar-thumb:horizontal  { width: 25px; }
/*-----------------------------------
  Data Table: For the project popup.
-------------------------------------*/

#about table {
  width: 95%;
  margin-bottom: 18px;
  padding-left: 18px;
  border-collapse: separate;
  *border-collapse: collapse;
  /* IE7, collapse table to remove spacing */
  font-size: 13px;
  }
table th, table td {
  padding: 4px 10px 9px 0;
  line-height: 18px;
  text-align: left;
  }
table th {
  padding-top: 9px;
  font-size: 14px;
  font-weight: bold;
  vertical-align: middle;
  }
table td {
  vertical-align: top;
  border-top: 1px solid #7F7F7F;
  font-size: 13px;
  }
#about table tr + tr td {
  border-top: 1px solid #7F7F7F;
  color: #A5A5A5;
  }

/*-----------------------------------
  About Section
-------------------------------------*/


.red {
  color:rgb(230,69,64);
  font-size: 110%; 
  font-weight:bold;
  text-shadow: #fff;
  }

#about {
  position: fixed;
  bottom: 0;
  top: 52px;
  right: 0; 
  height: 100%;
  width: 42.1%;
  z-index: 100;
  overflow: scroll;
  background: rgba(30,30,30,.85);
  }
#about h3 {
    font-size: 18px;
     color: #fefefe;
}
.new-h3 {
    font-size: 18px;
    color: #a5a5a5;
}


#about h1, h2, h3, table, em {
    padding-left: 20px;
    margin-top: 22px;
}
#about em {
    font-size: 16px;
    color: #a5a5a5;
    
    padding-left: 20px;
    line-height: 22px;
}
.description {
    width: 100%;
}
#about h6 {
    padding-top: 16px;
    font-size: 13px;
    color: #a5a5a5;
    padding-left: 20px;
}
#about a {
    font-size: 13px;
    color: #b4b4b4;
}
#about a:hover {
    font-size: 13px;
    color: #fefefe;
}
/*-----------------------------------
Navigation
----------------------------------*/
#header {
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
  color: #fff;
  z-index: 50;
  -moz-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.10);
  -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.10);
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.10);
  padding: 0;
  margin: 0;
  background:rgba(135, 152, 149, 0.96);
  }
#header h1 {
 padding-left: 16px;
 padding-top: 14px;
 font-size: 126%;
 color: #fff;
} 

#map-navigation {
  position: fixed;
  width: 42.8%;
  right: 0;
  top: 0;
  color: #fff;
  z-index: 500;
  padding: 0;
  margin: 0;
 
  }

  #map-navigation li {
      float: right;
      width: 12%;
}
  #map-navigation li.big {
    width: 22%;
}
  #map-navigation li.med {
    width: 17.7%;
 
}
    #map-navigation li a {
      background: rgba(135, 152, 149, 0.6);
      text-decoration: none;
      color: #fefefe;
      font-size: 13px;
      top: 0;
      display: block;
      text-align: center;
      height: 50px;
      line-height: 55px;
      text-shadow: 0 -1px 0 rgba(0,0,0,0.55);
      border-bottom: 2px solid #000;
      border-right: 1px solid #75807e;
      border-right: 1px solid 1px solid rgba(0,0,0,0.60);
      -moz-transition: background-color 0.1s linear;
      -o-transition: background-color 0.1s linear;
      -webkit-transition: background-color 0.1s linear;
      transition: background-color 0.1s linear; 
      
  }
      #map-navigation li a:hover {
          background-color: #6B7876;
          }
      #map-navigation li a.active {
          background: rgba(40,40,40,.5);
        
          border-right: 1px solid #444;
          border-left: 1px solid #444;
          
      }
      #map-navigation li a.one {
        border-right: none;
        }
        
      li.dem {
          background-color: #fff;
      }
  

/*-----------------------------------
  Map
-------------------------------------*/
#map {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  }

/* Map Controls */
#controls {
  position: absolute;
  top: 60px;
  left: 10px;
  background: white;
  border: 1px solid #000;
  color: #000;
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, .3);
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, .3);
  box-shadow: 0 0 6px rgba(0, 0, 0, .3);
  height: 50px;
  z-index: 50;
  width: 60px;
  }
  #controls a {
      color: #4d3936;
       font-weight: bold;
       text-decoration: none;
    font: bold 11px/28px Arial, Helvetica, Tahoma, Verdana, sans-serif;
    text-transform: uppercase;
    }
    #controls a:active {
      background-color: #f5f5f5;
      box-shadow:inset rgba(0,0,0,0.1) 0px 1px 3px;
      -moz-box-shadow:inset rgba(0,0,0,0.1) 0px 1px 3px;
      -webkit-box-shadow:inset rgba(0,0,0,0.1) 0px 1px 3px;
      }
  #controls a.share {
    position: absolute;
    display: block;
    right: 0;
    top: 22px;
    width: 50px;
    padding: 0 5px;
    height: 27px;
    border-top: 1px solid #000;
    text-align: center;
    }
  #controls a.zoomer {
    text-decoration: none;
    position: absolute;
    text-align: center;
    width: 30px;
    height: 22px;
    line-height: 22px;
    top: 0;
    left: 0;
    -moz-transition: color 0.1s linear;
    -o-transition: color 0.1s linear;
    -webkit-transition: color 0.1s linear;
    transition: color 0.1s linear;
    z-index: 100;
    }
    #controls a.zoomout {
      left: 29px;
      border-left: 1px solid #eee;
      }
      #controls a.zoomdisabled:active,
      #controls a.zoomdisabled {
        background: #fff;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: #ccc;
        cursor: default;
        }
.wax-attribution {
    z-index: 10000;
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 75%;
    color: #000;
    width: 48%;
    line-height: 16px;
}


/* Interaction */


#tooltips {
   position: relative;
  background: rgba(50,50,50,.7);
  color: #fff;
  bottom: 10px;
  top: 15px;
  -webkit-user-select:auto;
  width: 100%;
  overflow: auto;
  right: 0px;
  z-index: 100;
  }
  .wax-tooltip em{
    font-size: 12px;
    }
  .wax-tooltip table, tbody {
      width: 90%;
      padding-left: 15px;
  } 
  .wax-tooltip h3 {
      color: #fff;
      font-weight: bold;
      font-size: 95%;
  }
  .wax-tooltip h6{
    line-height: 16px;
    font-size: 14px;
    }
  .wax-tooltip strong{
    font-size: 15px;
    }
  .wax-tooltip th{
    font-size: 13px;
    }
  .wax-tooltip tbody {
      color: #CCCCCC;
        font-size: 11px;
        }

/*CSS Animations*/
.map-tile-loaded {
  -webkit-animation-name: 'fade-in';
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: .3s;
  }
.wax-tooltip {
  -webkit-animation-name: 'fade-in';
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: .1s;
  }
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
    }
  to {
    opacity: 1;
    }
  }

/* Embed Code */
#overlay {
  display: none;
  position: fixed;
  top: -100%;
  left: 0;
  bottom: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 9999;
  opacity: 0;
  -moz-opacity: 0;
  filter:alpha(opacity=0);
  background: -webkit-radial-gradient(rgba(127, 127, 127, 0.9), rgba(127, 127, 127, 0.9) 35%, rgba(0, 0, 0, 0.9));
  display: -webkit-box;
  }
  #overlay.active {
    top: 0;
    display: block;
    opacity: 0.5;
    -moz-opacity: 0.5;
    filter:alpha(opacity=50);
    }
#share {
  position: absolute;
  top: -100%;
  left: 50%;
  z-index: 9999;
  width: 50%;
  margin-left: -25%;
  background: rgba(20,20,20,.95);
  -moz-transition: top 0.5s ease;
  -o-transition: top 0.5s ease;
  -webkit-transition: top 0.5s ease;
  transition: top 0.5s ease;
  -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, .3);
  -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, .3);
  box-shadow: 0 1px 8px rgba(0, 0, 0, .3);
 
  }
  #share.active {
    top: 7%;
    }
.share-content textarea {
  font-family: 'Menlo Regular',Consolas,monospace;
  resize: none;
  padding: 10px;
  color: #404040;
  line-height: 18px;
  width: 340px;
  padding-left: 20px;
  }
#twitter,
#facebook {
  display: inline-block;
  position: relative;
  padding: 5px 18px;
  margin-right: 5px;
  padding-left: 10px;
  background: white;
  color: white;
  font-weight: bold;
  border: 2px solid #CCC;
  margin-bottom: 20px;
  }
#twitter {
  background: #0ac;
  border-color: #4ce;
  }
#facebook {
  background: #359;
  border-color: #68c;
  }
